* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

body,
#root {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}

#layout {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 100px 1fr 30px;
  grid-template-areas:
    'TITLE TITLE'
    'SCROLL DISPLAY'
    'FOOTER FOOTER';
}

#Header {
  grid-area: TITLE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../public/wickedbackground.png);
  background-size: cover;
  background-position-y: -50px;
}

#title {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.printButton {
  margin-right: 50px;
  width: 80px;
  padding: 0;
  background-color: #ddd;
  box-shadow: #333 3px 3px 3px;
  transition: all 0.3s;
}

.printButton:hover {
  background-color: #999;
  box-shadow: none;
}

#itemList {
  grid-area: SCROLL;
  display: grid;
  grid-template-rows: 150px 1fr;
  overflow-y: hidden;
  overflow-x: hidden;

  li {
    display: flex;
  }
}

#filter-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid black;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}
.filter:hover,
.filter:active {
  box-shadow: #333 3px 3px 5px inset;

  .IconSVG {
    scale: 1.5;
  }
}

#productScroll {
  overflow-y: scroll;
  background-color: #333333;
}

.productButton {
  flex-grow: 1;
  height: 80px;
  font-size: 24px;
  padding: 0;
  color: black;
  background-color: #f0f0f0;
  border-radius: 0;
  border: 2px #333 solid;
  text-align: start;
  padding-inline: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productButton:hover {
  background-color: #ddd;
}

.IconSVG {
  height: 32px;
  width: 32px;
  transition: all 0.3s;
}

#content {
  grid-area: DISPLAY;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;

  h2 {
    font-size: 40px;
    color: black;
  }
}

#Daydot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: DAYDOT;
  border: 5px solid black;
  padding: 30px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;

  h3 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: white;
    font-size: 60px;
    font-weight: 700;
    color: black;
    width: 100%;
    border: 5px solid black;
  }
}

.chilled {
  background-color: #b0f1ff;
}

.coffee {
  background-color: #ffb694;
}

.dairy {
  background-color: #beb1fc;
}

.misc {
  background-color: #dcb9ff;
}

.powder {
  background-color: #dddddd;
}

.sauce {
  background-color: #ffb6ca;
}

.syrup {
  background-color: #fff6da;
}

.tea {
  background-color: #72ff7e;
}

.pastry {
  background-color: #cbffec;
}

.cake {
  background-color: #ff9ec8;
}

#Footer {
  grid-area: FOOTER;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}