@media screen and (max-width: 1200px) {
#layout{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 1fr 30px;
    grid-template-areas: 
    'TITLE'
    'DISPLAY'
    'SCROLL'
    'FOOTER';
}

#Header{
    #title{
        font-size: xx-large;
    }
    .printButton{
        margin-right: 10px;
        scale: 0.8;
    }
}

.productButton{
    height: 60px;
    font-size: 20px;
}
#content{
    border-bottom: 5px black solid;
    box-shadow: 5px 5px 5px hsl(0, 0, 20);
    h2{
        font-size: 30px;
    }
}

#Daydot{
    height: 200px;
    width: 200px;
}
#itemList{
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
}
.filter{
    padding: 0;
    flex-grow: 1;
}
#filter-list{
    height: 100%;
    display: flex;
    flex-direction: column;
}


}

@media screen and (max-width: 600px){
    #layout{
        grid-template-rows: 80px 250px 1fr 30px;
    }

    #content{
        h2{
            display: none;
        }
    }
    
    #Daydot{
        margin-top: 0px;
        height: 150px;
        width: 150px;
        font-size: 20px;
    }
}